<nav class="navbar navbar-expand-lg bg-success">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand"><i class="bi bi-calendar2-week fs-2"></i></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#hiddencollapsebtn"
      aria-controls="hiddencollapsebtn"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="hiddencollapsebtn">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a routerLink="/" class="nav-link">Poišči dogodek</a>
        </li>
        @if (isUserLoggedIn()) {
          <li class="nav-item">
            <a routerLink="/admin/add-event" class="nav-link">Dodaj dogodek</a>
          </li>
          <li class="nav-item">
            <a routerLink="/" class="nav-link">Uredi dogodek</a>
          </li>
        }
      </ul>
      <form class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          @if (!isUserLoggedIn()) {
            <li class="nav-item active">
              <a routerLink="/login" class="nav-link">Login</a>
            </li>
          } @else {
            <li class="nav-item active">
              <span class="nav-link">Pozdravljen, {{ claims?.username }}!</span>
            </li>
            <li class="nav-item active">
              <button (click)="logout()" class="nav-link">Logout</button>
            </li>
          }
        </ul>
      </form>
    </div>
  </div>
</nav>
