<h1>Cona dogodkov</h1>

<div class="row g-3 align-items-center">
  <div class="col-auto">
    <label for="search" class="col-form-label">Vnesite naslov dogodka:</label>
  </div>
  <div class="col-auto">
    <input type="text" id="search" class="form-control" [(ngModel)]="searchModel.search" />
  </div>
  <div class="col-auto">
    <button class="btn btn-outline-primary" value="Išči" (click)="searchEvents()">Išči</button>
  </div>
</div>
<br />

@if (isLoading()) {
  <app-loading-component />
} @else {
  <div class="container-fluid">
    <div class="row text-center">
      @for (item of this.eventBasicInfoList; track item.id) {
        <div class="col-auto">
          <app-event-card-component [value]="item" />
        </div>
      }
    </div>
    @if (this.eventBasicInfoList.length == 0) {
      <p>Trenutno ni novih dogodkov.</p>
    }
  </div>
}
